body {
    font-family: 'Tahoma', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.4;
    color: white;
    margin: 0;
}

/* mobile friendly alternative to using background-attachment: fixed */
body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: darkblue;
    background-image: url("https://sport-marafon.ru/upload/medialibrary/79f/79ff947cb712007972ee56edae20ca62.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

h1 {
    color: black;
}

p {
    font-size: 1.25rem;
}


textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.container {
    width: 100%;
    margin: 3.125rem auto 0 auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

.header {
    padding: 0 0.625rem;
    margin-bottom: 1.875rem;
}

.description {
    font-style: italic;
    font-weight: 500;
    color: black;
}

.text-center {
    text-align: center;
}

